---
// Menu.astro
import NavMenu from "./BarMenu/NavMenu.astro";
import MobileNavMenu from "./HamburgerMenu/HamburgerNavMenu.jsx";

// Destructure the items prop and the new hamburgerOnly prop
const { items, hamburgerOnly = false } = Astro.props;
---
{hamburgerOnly ? (
  // Render only the mobile/hamburger menu on all screen sizes
  <div class="block">
    <MobileNavMenu items={items} client:load />
  </div>
) : (
  <>
    <nav class="hidden md:block">
      <NavMenu items={items} />
    </nav>
    <div class="block md:hidden">
      <MobileNavMenu items={items}  />
    </div>
  </>
)}
