---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="p-8">
    <h1>Contact Us</h1>
    <p>
      If you have any questions, please email us at 
      <a href="mailto:griffinswebservices@gmail.com">griffinswebservices@gmail.com</a>
      or call 732-939-1309.
    </p>
  </section>
</Layout>
