---
import Layout from "../layouts/Layout.astro";
import { ContactData } from "@/content/SiteData";
---

<Layout>
  <section class="p-[var(--spacing-lg)]">
    <h1>Contact Us</h1>
    <p>
      If you have any questions, please email us at
      <a href="mailto:griffinswebservices@gmail.com"
        >griffinswebservices@gmail.com</a
      >
      or call 
      <a href={`tel:${ContactData.phone}`}>
        {ContactData.phone}
      </a>
    </p>
  </section>
</Layout>
