---
// src/pages/sample.astro
import Button from '@/components/Button/Button';
import AstroIcon from '@/assets/astro.svg';
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout>
<!-- Primary variant using imported Astro.svg -->
<Button variant="primary">
  Primary Button
</Button>

</BaseLayout>
