---
import MenuItem from "@/components/Menu/MenuItem.astro";
import Menu from "@/components/Menu/Menu.astro";
---

<footer class="p-[var(--spacing-md)]">
  <Menu
    collection="menuItems"
    query="relatedItem:menus:footerMenu"
    sortOrder="asc"
    ItemComponent={MenuItem}
    itemsClass="flex gap-[var(--spacing-md)]"
    itemClass=""
  />
  <p class="mt-[var(--spacing-md)] text-[var(--font-size-sm)]">
    &copy; {new Date().getFullYear()} Cleanomatic. All rights reserved.
  </p>
</footer>
