---
import { SiteData } from '@/content/SiteData';
import { buildContentQueries } from '@/utils/ContentQueries';
import NavMenu from '../components/Menu/NavMenu.astro';
import MobileNavMenu from '../components/Menu/MobileNavMenu.jsx';

const baseMainNavMenu = [{ id: "home", label: "Home", slug: "/" }];
const finalQueries = await buildContentQueries({ MainNavMenu: baseMainNavMenu });
const headerMenu = finalQueries.MainNavMenu || [];
---
<header class="flex justify-between items-center">
  <a href="/">
    <h1>{SiteData.title}</h1>
  </a>
  
    <NavMenu items={headerMenu} />
</header>
