---
// src/components/Logo.astro
import { Image } from "astro:assets";
import { SiteData } from "@/content/SiteData";
---
<a href="/" class="flex flex-col items-start justify-left py-[var(--spacing-md)]">
  <div class="logo flex justify-center items-center">
    <Image
    src={SiteData.logo.src}
    alt={`${SiteData.title} logo`}
    class="animate-slide-right"
    widths={[24, 48, 96]}
    sizes="(min-width: 768px) 3rem, 2rem"
    formats={['avif','webp','png']}
    placeholder="blur"
    quality={70}
    loading="eager"
    fetchpriority="high"
  />
  </div>
</a>
