---
import Button from "@/components/Button.jsx";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <p class="p-[var(--spacing-md)] text-[var(--color-text)]">You've found the wrong place</p>
  <Button href="/">
    Go back home
  </Button>
</Layout>
